* {
    color: gray;
}

body {
    background-color: rgb(27, 27, 27);
    color: gray;
    text-align: center;
}

#intro {
    margin-top: 20%;
    /* margin-left: 70%; */
    width: 100%;
    height: 100vh;
}

h2 {
    text-decoration: underline;
}

img {
    width: 25%;
    height: 25%;
}

sup {
    vertical-align: super;
    font-size: small
}

a {
    font-size: x-large;
    color: gray;
}

#pokemon, #pantry, #insta, #show {
    padding: 5%;
}

#github {
    max-width: 3%;
    max-height: 3%;
    padding-right: 5px;
}

#linkedin {
    max-width: 3%;
    max-height: 3%;
}

footer {
    padding: 10px;
    text-decoration: underline;
}

#resume {
    font-size: medium;
    text-decoration: none;
    color: gray;
}